services:
  postgres:
    image: postgres:18-alpine
    container_name: auth_postgres
    environment:
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    networks:
      - auth_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth_user -d auth_db"]
      interval: 3s
      timeout: 5s
      retries: 10

  migrate:
    image: migrate/migrate
    depends_on:
      postgres:
        condition: service_healthy
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://auth_user:auth_pass@postgres:5432/auth_db?sslmode=disable",
        "up",
      ]
    volumes:
      - ./migrations:/migrations
    networks:
      - auth_network
  redis:
    image: redis:7-alpine
    container_name: auth_redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    networks:
      - auth_network

  auth_service:
    build: ./app
    image: auth_service
    container_name: auth_service
    ports:
      - "50051:50051"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - auth_network

volumes:
  auth_db_data:

networks:
  auth_network:
    driver: bridge
